
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
::-webkit-scrollbar{
    display: none;
}
.navbar{
    background-color: rgb(112, 94, 69);
    & img[ alt=logo]{
        width: 5rem;
    }


}
.navbar-brand img{
    width:  5 rem;
    height: 5 rem;
    object-fit: cover;

}


#heading {
        font-family: "DM Serif Display", serif;
        font-style: normal;
        color: #fcdfc1;
        text-align: center;
        margin-bottom: 80px
      }

#headingthree {
  font-family: "Montserrat", sans-serif;
  color: rgb(133, 101, 59);
  text-align: left;
  font-style: normal;
  margin-bottom: 80px;
  font-size: 40px;
}
.card {
    margin-bottom: 20px;
  }
  
  .card:not(:last-child) {
    margin-right: 50px;
  }

 .row{
    background-color: rgb(227, 185, 144);
    display: flex;

 }

 #woman,
 #vegan {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 10px;
  }
  .container{
    text-align: center;
    font-family:"Montserrat", sans-serif ;
    color: rgb(90, 74, 53);
    text-align: left;
    font-weight: normal;
     }

  
  
  


  